
*{box-sizing: border-box;} /* box sizing fixes all the odd spaing and makes it = whatever you want it to be.*/

.logo {
  float: left;
  line-height: 18PX;
  font-size: 18px;
  color: white;
  padding-left:  20px;

}

.nav-items {
  display: inline-block;
  margin-right: 10px;
  line-height: 60px;
  line-height: 16PX;
}

.nav-items {
  margin-bottom: 5PX;
}

body{
  margin: 0px;
}

header {
  background-color: #06D6A0;
  width: 100%;
  height: 50px;
}
.container {
  max-width: 900px;
  margin: auto;
}

.content {
  float: right;
  width: 30%;


  color: white;
}

.row-one {
  width: 100%;
  background-color: blue;


  overflow: hidden;

}
H2 {
  font-size: 40px;
  text-align: center;
  padding: 30PX;
}
.hero-image {
  float: left;
  width: 70%;
}

.row-three {
  width: 100%;
  background-color: #FFD166;
  padding: 40px;
  padding-top: 10px;

  overflow: hidden;

}

.float-three {
  width: 30%;
  float: left;
  margin: 11px;
  border: 2px solid black
}


.row-four {
  width: 100%;
  background-color: #F2F2F2;
  padding: 40px;
  padding-top: 10px;

  overflow: hidden;

}
img {
  width: 100%;
}
.navbar {
  float: right;
  padding-right: 80PX;
}

.row-five {
  background-color: #26547C;
  width: 100%;
  padding: 40px;
  padding-top: 10px;
}

h1 {
  color: white;
}

h4 {
  float: left;
  color: red;
  text-transform: uppercase;
  margin-left: 30px;
  padding: 30px;
  font-size: 40px;
  width: 28%;
}

clear-float {
    overflow: hidden;
}

.white-font {
  color: white;

}

.float-right {
  float: right;
}

footer{
  background-color: #06D6A0;
  width: 100%;
  height: 20px;
  padding: 20px;
  padding-bottom: 30px;
}

p {
  line-height: -2px;
  font-size: 18px;
}

html {
    font-family: "Helvetica Neue", Helvetica, Arial;

}
